{% extends 'base.html' %}
{% block navbar %}
    {{ super() }}
{#    <nav class="navbar navbar-inverse" role="navigation">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-6 ">#}
{#                    <a class="navbar-brand" href="{{ url_for('logout') }}">Logout </a>#}
{#                </div>#}
{#                <div class="col-lg-2 ">#}
{#                    <a class="navbar-brand" href="{{ url_for('login') }}">Hello {{ current_user.username }}</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{% endblock %}

{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

</div>
{% endblock %}
