{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<h3>Password edit {{ current_user.username }} </h3>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-offset-3">
           {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}


{% endblock %}